.container {
	width: 100%;
	height: 100px;
	background-color: var(--secondary-background-dark-blue);
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.shadow {
	width: 100%;
	height: 4px;
	position: absolute;
	background-color: var(--main-color-blue);
}