* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-size: 62.5%;
}

:root {
  font-family: 'Source sans Pro', sans-serif ;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	--main-background-black: #191919;
	--secondary-background-dark-blue: #030910;
	--main-color-blue: #2271D1;
	--button-shadow-color: #0b223f;
}